<section class="flex flex-col gap-12 py-12 my-8">
    <h2 class="text-4xl font-bold tracking-tighter mx-auto uppercase underline">best selling products</h2>
    <div class="flex justify-evenly">
        <app-best-selling-card img="assets/Best_Selling_1.jpg" title="Radiance Glow Serum" [price]="40" />
        <app-best-selling-card img="assets/Best_Selling_2.jpg" title="Radiance Glow Serum" [price]="30" />
        <app-best-selling-card img="assets/Best_Selling_3.jpg" title="Radiance Glow Serum" [price]="20" />
    </div>
</section>