<article class="flex flex-col justify-center items-center gap-6 py-6 px-6">
    <figure class="size-16">
        <img src="assets/Quotes.svg" alt="review_icon">
    </figure>
    <figure class="w-20 h-auto">
        <img src="assets/Stars.svg" alt="stars_icon">
    </figure>
    <p class="font-normal line-clamp-3">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam repudiandae tenetur expedita nulla velit
        perferendis ipsum sed cupiditate adipisci amet dicta, quae enim harum non quaerat sit. Rerum, dolorum
        dignissimos?
    </p>
    <div class="flex flex-col gap-1 items-center justify-center">
        <a class="text-pink-600 font-semibold cursor-pointer">Read more</a>
        <strong class="text-base">
            {{name}}
        </strong>
    </div>
</article>