<section class="flex justify-evenly py-12 my-8">
    <div class="flex flex-col gap-2">
        <img src="assets/Product_Type_1.svg" alt="product_type_1" class="h-32">
        <h3 class="text-pink-500 uppercase font-bold text-2xl tracking-tighter">Serum</h3>
    </div>
    <div class="flex flex-col gap-2">
        <img src="assets/Product_Type_2.svg" alt="product_type_2" class="h-32">
        <h3 class="text-pink-500 uppercase font-bold text-2xl tracking-tighter">Cleanser</h3>
    </div>
    <div class="flex flex-col gap-2">
        <img src="assets/Product_Type_3.svg" alt="product_type_3" class="h-32">
        <h3 class="text-pink-500 uppercase font-bold text-2xl tracking-tighter">Cream</h3>
    </div>
</section>