<article class="flex w-full bg-zinc-800 py-12">
    <div class="flex flex-1 w-full justify-between container mx-auto">
        <h2 class="uppercase text-3xl tracking-tight font-bold text-white">Join our newsletter</h2>
        <div class="flex flex-1 items-center justify-end ml-auto h-14 max-w-[500px]">
            <input type="email" placeholder="Your email address" class="h-full w-full px-8 py-2 bg-white">
            <button class="flex items-center justify-center uppercase bg-pink-500 text-white h-full px-8 py-2 font-semibold text-lg">
                Subscribe
            </button>
        </div>
    </div>
</article>