<section class="flex flex-col pt-12 mt-8">
    <app-newsletter />
    <div class="flex flex-1 gap-4 bg-zinc-950 py-12">
        <div class="flex justify-around w-full gap-12 container mx-auto">
            <app-contact-info />
            <app-links-section title="Departments">
                <ul
                    class="flex flex-col gap-3 text-white [&_li>a]:uppercase [&_li>a]:font-light [&_li>a]:cursor-pointer">
                    <li><a>Radiance Glow Serum</a></li>
                    <li><a>Ageless Eye Cream</a></li>
                    <li><a>Coverage Foundation</a></li>
                    <li><a>Beautiful Lipstick</a></li>
                    <li><a>Shampoo</a></li>
                    <li><a>Hair Oil</a></li>
                </ul>
            </app-links-section>
            <app-links-section title="Navigate">
                <ul
                    class="flex flex-col gap-3 text-white [&_li>a]:uppercase [&_li>a]:font-light [&_li>a]:cursor-pointer">
                    <li><a>Privacy Policy</a></li>
                    <li><a>About Us</a></li>
                    <li><a>Shipping/Refund</a></li>
                    <li><a>Terms & Conditions</a></li>
                </ul>
            </app-links-section>
            <div class="flex flex-col gap-2">
                <app-links-section title="Resources">
                    <ul
                        class="flex flex-col gap-3 text-white [&_li>a]:uppercase [&_li>a]:font-light [&_li>a]:cursor-pointer">
                        <li><a>Contact Us / FAQ</a></li>
                        <li><a>Shipping/Refund</a></li>
                        <li><a>Buy Online</a></li>
                    </ul>
                </app-links-section>
                <app-social-links />
            </div>
        </div>
    </div>
    <div class="flex container mx-auto py-4">
        <p>Copyright 2023 Abano Cosmetics. All Rights Reserved.</p>
    </div>
</section>